<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.jiawei.intelligent_parking_system">
    <!-- android:sharedUserId = "android.uid.system" -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ADD_VOICEMAIL" />
    <!--定义系统Window所需的权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" /> <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 用于加快GPS首次定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于Android M及以上系统，申请加入忽略电池优化白名单 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 网络状态改变的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 6.0以上打开蓝牙和wifi最好加上定位权限，获取wifi列表要用 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取IP地址 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/camera_app"
        android:label="拍照工具"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".activity.PathActivity">

        </activity>
        <activity android:name=".activity.Camera2TestActivity"></activity>
        <activity android:name=".activity.Camera2Activity">


        </activity>
        <activity android:name=".activity.FastJsonActivity" />
        <activity android:name=".view.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animate.TransitionActivity" />
        <activity
            android:name=".animate.ValueAnimatorActivity"
            android:theme="@style/TranstionTheme" />
        <activity android:name=".animate.ObjectAnimatorActivity" />
        <activity android:name=".animate.TweenActivity" />
        <activity android:name=".activity.MaterialDesignActivity" />
        <activity android:name=".activity.WifiActivity" />
        <activity android:name=".view.LinuxActivity" />
        <activity android:name=".MobileActivity" >
            <intent-filter>
                <action android:name="com.github.jiawei.intelligent_parking_system.MobileActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*" android:host="file"/>
            </intent-filter>

        </activity>
        <activity android:name=".view.BtActivity" />
        <activity android:name=".activity.CanvasTestActivity" />
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/AppTheme.NoBar" />
        <activity android:name=".activity.IntroduceActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoBar" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="b6A6tAQtYDUeyMREHygbhMRo9w9Vs0BG" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.MembersActivity" />
        <activity android:name=".activity.ParkLotActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.github.jiawei.intelligent_parking_system.activity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.NetWorkActivity" />
    </application>

</manifest>